<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">	
		<title>綠Pro/Costco</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/product_info.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/normalize.css">
		<link href="//db.onlinewebfonts.com/c/0801c08e5412f54e4b4e9ad146d83a12?family=Ink+Free" rel="stylesheet" type="text/css"/>
	
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id"
            content="704955964578-h12ktncaj45noqmmb3q3hu9vrtkhh5ol.apps.googleusercontent.com">

    </head>
    
    <body class="costco_body">
        <header>
            <div class="header_body">
                <a href="index.html">
                    <img class="logo_img" alt="logo" src="img/logo.png">
                </a>
                <p id="account_name">Account</p>
                <p id="identity">Identity</p> <!-- customer or merchants -->
                <a class="bar-link" href="index.html">Home</a>
            </div>        
            <div id="search_bar">
                <input type="text" id="sql_value" style="width: 400px;">
                <!--<button id="sql_search">提交</button>-->
            </div>
        </header>
        <main class="main_background" id="costco_product_main">
            
            <div class="content">
                <div class="container">  
                    <div class="row" style="height: max-content;">
                        <div class="col">
                            product 4
                            <div>
                                <img class="product_img" alt="product" src="https://www.costco.com.tw/medias/sys_master/images/heb/hff/47499113431070.jpg">
                            </div>
                            <div class="inner-container">
                                <div class="inner_product_item1">price
                                </div>
                                <div class="inner_product_item2">num
                                </div>
                                <div class="inner_product_item3">date
                                </div>
                            </div>   
                        </div>
                        <div class="col">
                            product 4
                            <div>
                                <img class="product_img" alt="product" src="https://www.costco.com.tw/medias/sys_master/images/heb/hff/47499113431070.jpg">
                            </div>
                            <div class="inner-container">
                                <div class="inner_product_item1">price
                                </div>
                                <div class="inner_product_item2">num
                                </div>
                                <div class="inner_product_item3">date
                                </div>
                            </div>   
                        </div>
                        <div class="col">
                            product 4
                            <div>
                                <img class="product_img" alt="product" src="https://www.costco.com.tw/medias/sys_master/images/heb/hff/47499113431070.jpg">
                            </div>
                            <div class="inner-container">
                                <div class="inner_product_item1">price
                                </div>
                                <div class="inner_product_item2">num
                                </div>
                                <div class="inner_product_item3">date
                                </div>
                            </div>   
                        </div>
                        <div class="col">
                            product 4
                            <div>
                                <img class="product_img" alt="product" src="https://www.costco.com.tw/medias/sys_master/images/heb/hff/47499113431070.jpg">
                            </div>
                            <div class="inner-container">
                                <div class="inner_product_item1">price
                                </div>
                                <div class="inner_product_item2">num
                                </div>
                                <div class="inner_product_item3">date
                                </div>
                            </div>   
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" >
                            <div class="inner-container">
                                <div class="inner_product_item1">price
                                </div>
                                <div class="inner_product_item2">num
                                </div>
                                <div class="inner_product_item3">date
                                </div>
                            </div>   
                        </div>
                        <div class="col" >
                            <div class="inner-container">
                                <div class="inner_product_item1">price
                                </div>
                                <div class="inner_product_item2">num
                                </div>
                                <div class="inner_product_item3">date
                                </div>
                            </div>   
                        </div>
                        <div class="col" >
                            <div class="inner-container">
                                <div class="inner_product_item1">price
                                </div>
                                <div class="inner_product_item2">num
                                </div>
                                <div class="inner_product_item3">date
                                </div>
                            </div>   
                        </div>
                        <div class="col" >
                            <div class="inner-container">
                                <div class="inner_product_item1">price
                                </div>
                                <div class="inner_product_item2">num
                                </div>
                                <div class="inner_product_item3">date
                                </div>
                            </div>   
                        </div>
                        
                    </div>
                </div>

            </div>
        </main>   
        <footer>
            <div>
                <p>
                    &copy; 2021. By Green Pro Inc.
                </p>
            </div>
        </footer>
    </body>

    <script type="text/javascript" src="js/identity.js"></script>

</html>